
.header {
    display: flex;
    width: 100%;
    height: 84px;
    align-items: center;

    img{
      margin: 0 280px 0 160px;
    }

    a{
      text-decoration: none;
      color: #232134;
      font-size: 16px;
      margin-right: 60px;

      &:hover{
        color: rgba(94, 150, 252, 0.8);
      }

    }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header{
    height: 64px;

    img{
      margin: 0 180px 0 100px;
    }
  }

}


@media (min-width:320px) and (max-width: 768px) {
  .header{
    height: 48px;

    img{
      height: 40px;
      width: auto;
      margin: 0 100px 0 50px;
    }

    a{
      font-size: 13px;
      margin-right: 40px;
    }
  }
}

@media (max-width: 320px) {
  .header{
    height: 32px;

    img{
      height: 20px;
      width: auto;
      margin: 0 50px 0 20px;
    }

    a{
      font-size: 10px;
      margin-right: 10px;
    }
  }
}